<!--@subject susanrobinsonjewelry Website - Customer Special Order Form@-->
<ul>
	<li>Name: {{var data.name}}</li>
	<li>E-mail: {{var data.email}}</li>
	<li>Phone: {{var data.phone}}</li>
	<li>Product Type: {{var data.producttype}}</li>
	<li>Do you have price range?: {{var data.pricerange}}</li>	
	<li>What is more important?: {{var data.moreimportant}}</li>
	<li>when do you need this product?: {{var data.month}}-{{var data.day}}-{{var data.year}}</li>
	<li>Image 1: <a href="{{store url=""}}{{var data.image1}}" target="_blank">{{var data.imageupload1}}</a></li> 
	<li>Image 2: <a href="{{store url=""}}{{var data.image2}}" target="_blank">{{var data.imageupload2}}</a></li>
	<li>Image 3: <a href="{{store url=""}}{{var data.image3}}" target="_blank">{{var data.imageupload3}}</a></li>
	<li>comments: {{var data.comments}}</li>
	
</ul>