<?xml version="1.0"?>
<config>
    <modules>
        <Ideal_Press>
            <version>0.1.0</version>
        </Ideal_Press>
    </modules>
    <frontend>
        <routers>
            <press>
                <use>standard</use>
                <args>
                    <module>Ideal_Press</module>
                    <frontName>press</frontName>
                </args>
            </press>
        </routers>
        <layout>
            <updates>
                <press>
                    <file>press.xml</file>
                </press>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<press>
				<use>admin</use>
				<args>
					<module>Ideal_Press</module>
					<frontName>press</frontName>
				</args>
			</press>
        </routers>
    </admin>
    <adminhtml>	
		<menu>
            <cms>
                <children>
                    <press translate="title" module="press">
                        <title>Manage Press</title>
                        <action>press/adminhtml_press</action>
                    </press>
                 </children>
            </cms>
        </menu>
		<!-- <acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Ideal_Press>
							<title>Press Module</title>
							<sort_order>10</sort_order>
						</Ideal_Press>
					</children>
				</admin>
			</resources>
		</acl> -->
		 <acl>
            <resources>
                <admin>
                    <children>
                        <cms>
			                <children>
			                    <press translate="title" module="press">
			                        <title>Manage Press</title>			                        
			                    </press>
			                 </children>
           			   </cms>                
                    </children>
                </admin>
            </resources>
        </acl>
		<layout>
			<updates>
				<press>
					<file>press.xml</file>
				</press>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <press>
                <class>Ideal_Press_Model</class>
                <resourceModel>press_mysql4</resourceModel>
            </press>
            <press_mysql4>
                <class>Ideal_Press_Model_Mysql4</class>
                <entities>
                    <press>
                        <table>press</table>
                    </press>
                </entities>
            </press_mysql4>
        </models>
        <resources>
            <press_setup>
                <setup>
                    <module>Ideal_Press</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </press_setup>
            <press_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </press_write>
            <press_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </press_read>
        </resources>
        <blocks>
            <press>
                <class>Ideal_Press_Block</class>
            </press>
        </blocks>
        <helpers>
            <press>
                <class>Ideal_Press_Helper</class>
            </press>
        </helpers>
    </global>
</config>