<?xml version="1.0"?>
<config>
    <modules>
        <Ideal_Diamondsearch>
            <version>0.2.2</version>
        </Ideal_Diamondsearch>
    </modules>
    <frontend>
        <routers>
            <diamondsearch>
                <use>standard</use>
                <args>
                    <module>Ideal_Diamondsearch</module>
                    <frontName>diamond-search</frontName>
                </args>
            </diamondsearch>
        </routers>
        <layout>
            <updates>
                <diamondsearch>
                    <file>diamondsearch.xml</file>
                </diamondsearch>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<diamondsearch>
				<use>admin</use>
				<args>
					<module>Ideal_Diamondsearch</module>
					<frontName>diamondsearch</frontName>
				</args>
			</diamondsearch>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<jewelryshare module="diamondsearch">
				<title>Jewelrslink</title>
				<sort_order>30</sort_order>               
				<children>
					<diamond_search_settings module="diamondsearch">
						<title>Diamond Search Settings</title>
						<sort_order>100</sort_order>
						<action>diamondsearch/adminhtml_diamondsearch/settings</action>
					</diamond_search_settings>
				</children>
			</jewelryshare>
			<!--<jewelryshare>
				<children>
					<items module="diamondsearch">
						<title>Diamond Search Settings</title>
						<sort_order>100</sort_order>
						<action>diamondsearch/adminhtml_diamondsearch/settings</action>
					</items>
				</children>
			</jewelryshare>-->
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<jewelryshare module="diamondsearch">
							<title>Jewelerslink</title>
							<sort_order>30</sort_order>  
							<children>
								<diamond_search_settings module="diamondsearch">
									<title>Diamond Search Settings</title>
									<sort_order>100</sort_order>
								</diamond_search_settings>
							</children>
						</jewelryshare>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<diamondsearch>
					<file>diamondsearch.xml</file>
				</diamondsearch>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <diamondsearch>
                <class>Ideal_Diamondsearch_Model</class>
                <resourceModel>diamondsearch_mysql4</resourceModel>
            </diamondsearch>
            <diamondsearch_mysql4>
                <class>Ideal_Diamondsearch_Model_Mysql4</class>
                <entities>
                    <diamondsearch>
                        <table>uploadtool_diamonds_inventory</table>
                    </diamondsearch>
                </entities>
            </diamondsearch_mysql4>
        </models>
        <resources>
            <diamondsearch_setup>
                <setup>
                    <module>Ideal_Diamondsearch</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </diamondsearch_setup>
            <diamondsearch_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </diamondsearch_write>
            <diamondsearch_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </diamondsearch_read>
        </resources>
        <blocks>
            <diamondsearch>
                <class>Ideal_Diamondsearch_Block</class>
            </diamondsearch>
        </blocks>
        <helpers>
            <diamondsearch>
                <class>Ideal_Diamondsearch_Helper</class>
            </diamondsearch>
        </helpers>
    </global>
	<default>
		<diamondsearch>
			<general_settings>
				<ds_skin>New</ds_skin>
			</general_settings>
			<general_settings>
				<compare_request>0</compare_request>
			</general_settings>
			<general_settings>
				<showblock_detail>1</showblock_detail>
			</general_settings>
			<general_settings>
				<diamond_description>This {{carat}} Carat, {{cut}} Cut, {{color}} color and {{clarity}} clarity {{shape}} shaped diamond is accompanied by {{certificate}} grading report.</diamond_description>
			</general_settings>
			<general_settings>
				<certificate_sample>dsearch/sample_cert.jpg</certificate_sample>
			</general_settings>
			<design_settings>
				<table_sort_arrow_style>dark</table_sort_arrow_style>
			</design_settings>
			<shape_settings>
				<shape_style>outline</shape_style>
			</shape_settings>
			<general_settings>
				<showcolumn_rapdiscount>0</showcolumn_rapdiscount>
			</general_settings>
			<general_settings>
				<showcolumn_availability>0</showcolumn_availability>
			</general_settings>
			<general_settings>
				<showcolumn_dimensions>0</showcolumn_dimensions>
			</general_settings>
			<general_settings>
				<showcolumn_depth>0</showcolumn_depth>
			</general_settings>
			<general_settings>
				<showcolumn_tabl>0</showcolumn_tabl>
			</general_settings>
			<general_settings>
				<showcolumn_inhouse>0</showcolumn_inhouse>
			</general_settings>
			<general_settings>
				<sample_avilability>0</sample_avilability>
			</general_settings>
			<general_settings>
				<spacial_diamond_avilability>0</spacial_diamond_avilability>
			</general_settings>
			<general_settings>
				<atribute_position_avilability>0</atribute_position_avilability>
			</general_settings>
		</diamondsearch>
	</default>
</config>