<?xml version="1.0"?>
<config>
    <modules>
        <Ideal_Googlesheetimport>
            <version>0.1.2</version>
        </Ideal_Googlesheetimport>
    </modules>
    <frontend>
        <routers>
            <googlesheetimport>
                <use>standard</use>
                <args>
                    <module>Ideal_Googlesheetimport</module>
                    <frontName>googlesheetimport</frontName>
                </args>
            </googlesheetimport>
        </routers>
        <layout>
            <updates>
                <googlesheetimport>
                    <file>googlesheetimport.xml</file>
                </googlesheetimport>
            </updates>
        </layout>
    </frontend>
    <admin>
	    <routers>
	        <adminhtml>
	            <args>
	                <modules>
	                    <googlesheetimport after="Mage_Adminhtml">Ideal_Googlesheetimport_Adminhtml</googlesheetimport>
	                </modules>
	            </args>
	        </adminhtml>
	    </routers>
	</admin>
    <adminhtml>
		<menu>
			<catalog>   
				<children>
					<googlesheetimport module="googlesheetimport">
						<title>Google Sheet Import</title>
						<sort_order>15</sort_order>
						<action>adminhtml/googlesheetimport/import</action>
					</googlesheetimport>
				</children>
			</catalog>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<catalog>
							<children>
								<googlesheetimport>
									<title>Google Sheet Import</title>
									<sort_order>15</sort_order>
								</googlesheetimport>
							</children>
						</catalog>
						<system>
							<children>
								<config>
	                                <children>
										<googlesheetimport>
											<title>Google Sheet Import Configuration</title>
											<sort_order>15</sort_order>
										</googlesheetimport>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<googlesheetimport>
					<file>googlesheetimport.xml</file>
				</googlesheetimport>
			</updates>
		</layout>
    </adminhtml>   
    <global>
		<models>
            <googlesheetimport>
                <class>Ideal_Googlesheetimport_Model</class>
            </googlesheetimport>
        </models>
        <blocks>
            <googlesheetimport>
                <class>Ideal_Googlesheetimport_Block</class>
            </googlesheetimport>
        </blocks>
        <helpers>
            <googlesheetimport>
                <class>Ideal_Googlesheetimport_Helper</class>
            </googlesheetimport>
        </helpers>
    </global>
    <crontab>
        <jobs>
            <googlesheet_diamondsearch_data_import_cron>
            	<schedule>
                    <config_path>cronjobs/googlesheetimport_diamondsearch_data/cron_expr_import</config_path>
                </schedule>
                <run>
                    <model>googlesheetimport/observer::diamondsearchDataImport</model>
                </run>
            </googlesheet_diamondsearch_data_import_cron>
            <googlesheet_regular_data_import_cron>
            	<schedule>
                    <config_path>cronjobs/googlesheetimport_regular_data/cron_expr_import</config_path>
                </schedule>
                <run>
                    <model>googlesheetimport/observer::regularDataImport</model>
                </run>
            </googlesheet_regular_data_import_cron>
            <googlesheet_regular_data_update_cron>
            	<schedule>
                    <config_path>cronjobs/googlesheetupdate_regular_data/cron_expr_import</config_path>
                </schedule>
                <run>
                    <model>googlesheetimport/observer::regularDataUpdate</model>
                </run>
            </googlesheet_regular_data_update_cron>
    	</jobs>
    </crontab>
    
    <default>
		<cronjobs>
            <googlesheetimport_diamondsearch_data>
                <enabled_import>1</enabled_import>
                <cron_expr_import>20 1 * * *</cron_expr_import>
            </googlesheetimport_diamondsearch_data>
            <googlesheetimport_regular_data>
                <enabled_import>0</enabled_import>
                <cron_expr_import>25 1 * * *</cron_expr_import>
            </googlesheetimport_regular_data>
            <googlesheetupdate_regular_data>
                <enabled_import>0</enabled_import>
                <cron_expr_import>25 2 * * *</cron_expr_import>
            </googlesheetupdate_regular_data>
        </cronjobs>
     </default>   
        
</config>
