<?xml version="1.0"?>
<config>
    <modules>
        <Ideal_Production>
            <version>1.0.0</version>            
        </Ideal_Production>
    </modules>
    <frontend>
        <routers>
            <feed>
                <use>standard</use>
                <args>
                    <module>Ideal_Production</module>
                    <frontName>production</frontName>
                </args>
            </feed>
        </routers>        
    </frontend>
	<global>
	    <helpers>
			<production>
				<class>Ideal_Production_Helper</class>
			</production>
	    </helpers>    
	
	</global>
</config>
